<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915400872097-23pm6la2008vdd7hj9vkqeetg4oob3tq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915400872097-23pm6la2008vdd7hj9vkqeetg4oob3tq</string>
	<key>API_KEY</key>
	<string>AIzaSyCwr5D0bIzV6bMlPsKel78jnj-fTMr7-H4</string>
	<key>GCM_SENDER_ID</key>
	<string>915400872097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peru.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-37d1c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-37d1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915400872097:ios:03128b8e90b95b387a60e0</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-37d1c.firebaseio.com</string>
</dict>
</plist>